html{
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#main {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

}

#buttonDiv {
  position: absolute;
  height: 100%;
  width: 100%;
}
#width10left, #width10right, .width80 {
  height: 100%;
  position: absolute;
}

#width10left {
  width: 10%;
  margin-left: 0px;
}

#width10right {
  width: 10%;
  margin-left:90%;
}

.width80 {
  width: 80%;
  margin-left:10%;
}

button {
  position: absolute;
  height: 25px;
  width: 25px;
  left: calc((100% - 25px)/2);
  top: calc((100%-25px)/2);
}

#buttonLeft {
  margin-left: calc(5% - 12.5px);
}

#buttonRight {
  margin-right: calc(5% - 12.5px);
  float: right;
}

#header, #workExperience, #projects, #education, #mapDiv, #lets-connect {
  box-sizing: border-box;
  max-width: 1120px;
  min-width: 80%;
  max-height: 100%;
  height: 80%;
  margin: auto;
  margin-left: 20%;
  border: 2px solid red;
  background: rgba(210, 210, 210, 0.77);
  border-radius: 15px;
}

#header {
  margin-left: 10%;
  transition: margin 1s;
  -webkit-transition: margin 1s;
}

#lets-connect {
  margin-right: 10%;
}

img {
  max-height: 300px;
  max-width: 300px;
}

#map {
  display: block;
  height: 100%;
}

#mapDiv {
  width: 100%;
  height: 100%;
}